[Unit]
Description=Borg backup

[Service]
Type=oneshot

Environment="BORG_PASSPHRASE=otus123"
Environment=REPO=borg@192.168.56.66:/var/backup/
Environment=BACKUP_TARGET=/etc

ExecStart=/bin/borg create --stats ${REPO}::etc-{now:%%Y-%%m-%%d_%%H:%%M:%%S} ${BACKUP_TARGET}


ExecStart=/bin/borg check ${REPO}

ExecStart=/bin borg prune --keep-daly 90 --keep-monthly 12 --keep--yarly 1 ${REPO}

